<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <title>Home Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>

<body>
    <header>
        <h1>TCC Ágil</h1>
        <a class="login-signup" href="/login">Entrar/Cadastrar</a>
    </header>
    <main>
        <div class="welcome-message">
            <p>Bem-vindo ao seu TCC Ágil! Aqui você pode organizar seus objetivos, metodologia e recursos de forma
                eficiente.</p>
        </div>

        <div class="kanban">
            <div class="kanban-column">
                <h2>Objetivos</h2>
                <p>Aqui, oferecemos uma solução para facilitar o processo de elaboração e acompanhamento dos seus
                    trabalhos acadêmicos. </p>
                <p>Seja você um estudante em busca de uma maneira mais eficiente de organizar suas tarefas, ou um
                    orientador em busca de uma ferramenta colaborativa para auxiliar seus alunos, estamos aqui para
                    ajudar..</p>
            </div>
            <div class="kanban-column">
                <h2>Metodologia</h2>
                <p>O sistema web é baseado na metodologia Kanban, conhecida por sua eficácia na gestão de projetos. </p>
                <p>Com o Kanban, você poderá visualizar de forma clara e intuitiva o fluxo de trabalho do seu TCC, desde
                    a concepção até a conclusão, otimizando prazos e garantindo o cumprimento de todas as etapas
                    necessárias.</p>
                <img src="/img/kanban.jpeg">
            </div>
            <div class="kanban-column">
                <h2>Recursos</h2>
                <p>A plataforma oferece recursos como criação de trabalhos, adição de membros, criação de tarefas,
                    monitoramento do progresso, atribuição de prazos e muito mais. </p>
                <p>Tudo isso em um ambiente online colaborativo, permitindo uma comunicação fluida entre os membros da
                    equipe.</p>
                <p>Além disso, conta com uma interface intuitiva e amigável, que torna a navegação e utilização do
                    sistema uma experiência agradável e fácil de usar.</p>
            </div>
        </div>
    </main>
</body>

</html>