<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <title>Adicionar Membros ao Trabalho</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" type="text/css" href="/css/cadTarefas.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body style="display: flex; flex-direction: column;">

    <div th:insert="~{MenuEsq.html}"></div>

    <div style="margin-left: 20%;">

        <div class="header_trab">

            <div>
                <h2 class="h2_trabalhos" th:text="${trabalhoIndi.titulo}"> </h2>
            </div>
        </div>
        <div class="container">
            <div class="cadastro-form">
                <div class="div_sub_titulo">Adicionar Membros ao Trabalho</div>


                <!-- Formulário para adicionar membros -->
                <form method="post" th:action="@{/trabalhoIndi/{idtrab}/Membros(idtrab=${idtrab})}">
                    <div class="form-group">
                    <label for="email">Email do Membro:</label>
                    <input type="text" id="email" name="email" />
                    </div>
                    <div class="form-group">
                    <button class="butao" type="submit">Adicionar Membro</button>
                    </div>
                </form>

                <!-- Lista de membros já adicionados -->
                <div class="form-group">
                <h3>Membros Adicionados:</h3>
                <table class="table_membro" style="margin-inline-start: 0px;">
                    <thead>
                        <tr>
                            <th class="th_membro">Nome</th>
                            <th class="th_membro">Email</th>
                            <th class="th_membro" style="width: 60px;">Opcoes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="result : ${membros}">
                            <td class="td_membro" th:text="${result[1].nome}"></td>
                            <td class="td_membro" th:text="${result[0]}"></td>
                            <td class="td_membro" ><button type="button" class="remove-button"
                                    th:attr="data-member-id=${result[1].idMembros}, data-work-id=${idtrab}">Remover</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
                <div class="form-group">
                    <a th:href="@{'/trabalhoIndi/' + ${idtrab}}">
                        <button class="butao" type="button">Voltar para Trabalho</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    $(document).ready(function () {
        $("#email").autocomplete({
            source: function (request, response) {
                // Faça uma solicitação AJAX para buscar e-mails correspondentes no banco de dados
                $.ajax({
                    url: "/buscarEmails",
                    dataType: "json",
                    data: {
                        term: request.term // O valor digitado no campo de pesquisa
                    },
                    success: function (data) {
                        response(data); // Fornece a lista de sugestões
                    }
                });
            },
            minLength: 2 // Número mínimo de caracteres antes de começar a pesquisa
        });
    });

    // Adicione um ouvinte de evento a todos os botões de remoção
    const removeButtons = document.querySelectorAll(".remove-button");
    removeButtons.forEach(button => {
        button.addEventListener("click", function () {
            const memberId = this.getAttribute("data-member-id");
            const workId = this.getAttribute("data-work-id");

            // Envie uma solicitação para o servidor para remover o membro
            fetch(`/trabalhoIndi/${workId}/Membros/removeMember/${memberId}`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
            })
                .then(response => {
                    if (response.status === 200) {
                        alert("Membro Removido com sucesso.");
                        window.location.reload(); // Recarrega a página
                        // Atualize a lista de membros após a remoção
                        // Você pode recarregar a página ou remover o membro da lista com JavaScript
                    } else {
                        alert("Erro ao remover o membro.");
                    }
                });
        });
    });

</script>

</html>