<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <title>Teste</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
    <div class="container">
        <div class="cadastro-form">
            <h2>Membro</h2>
            <form method="post">
                <!-- metodo para enviar/cadastrar requisicao formAction para distinguir os Post nas classe-->

                <div class="form-group">
                    <label for="CadastroEmail">Email</label>
                    <input type="email" id="CadastroEmail" name="CadastroEmail" required>
                </div>

                <div class="form-group">
                    <button type="submit" value="Convidar">Convidar</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
