<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <link rel="stylesheet" type="text/css" href="/css/menuEsq.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            // Esconder todos os conteúdos do acordeão inicialmente
            $(".accordion__content").hide();

            // Manipular o clique no cabeçalho do acordeão
            $(".accordion__header").click(function () {
                // Encontre o conteúdo associado a este cabeçalho
                var content = $(this).next(".accordion__content");

                // Toggle (mostrar/ocultar) o conteúdo
                content.slideToggle();

                // Alternar a classe 'active' no cabeçalho para girar o triângulo
                $(this).toggleClass('active');
            });
        });
    </script>
</head>
<header>
    <h1>TCC Ágil</h1>
</header>

<body>
    <div class="container_menu">
    <nav class="sidebar">
        <h2 class="menu">Menu</h2>

        <div class="sidebar__options">
            <div>
                <a href="/perfil">Perfil</a>
            </div>


            <div class="accordion">
                <a style="width: fit-content;" href="/dash_trabalhos" id="linkTrabalhos">Trabalhos</a>
                <div class="accordion__header"></div>
                <!-- Conteúdo do acordeão "Trabalhos"  -->
                <div class="accordion__content">
                    <a th:each="trabalho : ${trabalhos}" 
                    th:href="@{'/trabalhoIndi/' + ${trabalho.idTrab}}"
                    th:text="${trabalho.titulo}"></a>

                    <!-- <a href="#">teste</a>
                    <a href="#">teste2</a> -->
                </div>
            </div>

            <div>
                <a href="/tarefas">Tarefas</a>
            </div>

            <div><a href="/logout">Sair / LogOut</a></div>
        </div>
        <!-- Teste -->
    </nav>
</div>
</body>