<!DOCTYPE html>
<html lang="pt-br"
>
<head>
    <meta charset='utf-8'>
    <title>Perfil</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="robots" content="index, follow"/>
    <link rel="stylesheet" type="text/css" href="/css/perfil.css">
</head>
<body>
           <!-- <h1>Bem-vindo, <span th:text="${nomeUsuario}"></span></h1>
    <div th:insert="~{MenuEsq.html}"></div> -->
    <div th:insert="~{MenuEsq.html}"></div>
    <div class="grid-container">
        
        <div class="quadro-esquerda">
                <div class="circulo"></div>
                <div class="user-Name"> <h3 class="h3_teste"><span th:text="${nomeUsuario}"></span></h3></div>
                <div class="user-job"> <p class="p">Trabalhos</p></div>
                <div class="user-task"> <p class="p">Tarefas</p> </div>
        </div>
        
        <div class="quadro-direita">
            <!-- Aqui você pode adicionar sua timeline vertical -->
            <p>Alguma data</p>
        </div>
    </div>
</body>
</html>
