<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <title>Teste</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" type="text/css" href="/css/cadTarefas.css">
</head>

<body style="display: flex; flex-direction: column; background: #AFAFAF;">

    <div th:insert="~{MenuEsq.html}"></div>
    <div style="margin-left: 20%;">

        <div class="header_trab">
            <div>
                <h2 class="h2_trabalhos" th:text="${trabalhoIndi.titulo}"></h2>
            </div>
        </div>
        <div class="container">
            <div class="cadastro-form">
                <div class="div_sub_titulo"> Nova Tarefa </div>
                <form class="formulario" method="post">
                    <!-- metodo para enviar/cadastrar requisicao formAction para distinguir os Post nas classe-->
                    <input type="hidden" id="idUsuarioResponsavel" name="idUsuarioResponsavel" th:value="${idUsuario}">
                    <input type="hidden" id="idUsuarioResponsavel_UP" name="idUsuarioResponsavel_UP"
                        th:value="${idUsuario}">
                    <div class="form-group">
                        <label for="tituloTarefas">Tarefa</label>
                        <input type="text" id="tituloTarefas" name="tituloTarefas" required>
                    </div>

                    <div class="form-group">
                        <label for="descricaoTarefas">Descricao</label>
                        <input type="text" id="descricaoTarefas" name="descricaoTarefas" required>
                    </div>
<!-- 
                    <div class="form-group">
                        <label for="prioridadeTarefas">Prioridade:</label>
                        <select id="prioridadeTarefas" name="prioridadeTarefas">
                            <option value="baixa">Baixa</option>
                            <option value="media">Média</option>
                            <option value="alta">Alta</option>
                            <option value="urgente">Urgente</option>
                        </select>
                    </div> -->
                    <div class="form-group">
                        <label>Prioridade:</label><br>
                        <div class="div_ratio">
                            <div class="div_sub_ratio">
                                <label for="baixa">Baixa  :</label><br>
                                <input type="radio" id="baixa" name="prioridadeTarefas" value="baixa">
                            </div>
                            <div class="div_sub_ratio">
                                <label for="media">Média  :</label><br>
                                <input type="radio" id="media" name="prioridadeTarefas" value="media">
                            </div>
                            <div class="div_sub_ratio">
                                <label for="alta">Alta :</label><br>
                                <input type="radio" id="alta" name="prioridadeTarefas" value="alta">
                            </div>
                            <div class="div_sub_ratio">
                                <label for="urgente">Urgente  :</label>
                                <input type="radio" id="urgente" name="prioridadeTarefas" value="urgente">
                            </div>
                        </div>
                    </div>

                    <!-- <div class="form-group">
                        <label for="statusTarefas">Status</label>
                        <select type="text" id="statusTarefas" name="statusTarefas" required>
                            <option value="A fazer">A fazer</option>
                            <option value="Fazendo">Fazendo </option>
                            <option value="Aguardando Retorno">Aguardando Retorno</option>
                            <option value="Concluida">Concluida</option>
                        </select>
                    </div> -->
                    <div class="form-group">
                        <label>Status:</label><br>
                        <div class="div_ratio">
                            <div class="div_sub_ratio">
                                <label for="A fazer">A fazer  :</label><br>
                                <input type="radio" id="A fazer" name="statusTarefas" value="A fazer">
                            </div>
                            <div class="div_sub_ratio">
                                <label for="Fazendo">Média  :</label><br>
                                <input type="radio" id="Fazendo" name="statusTarefas" value="Fazendo">
                            </div>
                            <div class="div_sub_ratio">
                                <label for="Aguardando Retorno">Aguardando Retorno :</label><br>
                                <input type="radio" id="Aguardando Retorno" name="statusTarefas" value="Aguardando Retorno">
                            </div>
                            <div class="div_sub_ratio">
                                <label for="Concluida">Concluida  :</label>
                                <input type="radio" id="Concluida" name="statusTarefas" value="Concluida">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="butao" type="submit" value="Salvar">Salvar</button>
                    </div>
                </form>
                <div class="form-group">
                    <a th:href="@{'/trabalhoIndi/' + ${idtrab}}">
                        <button type="button" class="butao">Voltar para Trabalho</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>