<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <title>Teste</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
    <div class="container">
        <div class="cadastro-form">
            <h2>Nova Tarefa</h2>
            <form method="post">
                <!-- metodo para enviar/cadastrar requisicao formAction para distinguir os Post nas classe-->
                <div class="form-group">
                    <label for="tituloTarefas">Tarefa</label>
                    <input type="text" id="tituloTarefas" name="tituloTarefas" required>
                </div>

                <div class="form-group">
                    <label for="descricaoTarefas">Descricao</label>
                    <input type="text" id="descricaoTarefas" name="descricaoTarefas" required>
                </div>

                <div class="form-group">
                    <label for="prioridadeTarefas">Prioridade:</label>
                    <select id="prioridadeTarefas" name="prioridadeTarefas">
                        <option value="baixa">Baixa</option>
                        <option value="media">Média</option>
                        <option value="alta">Alta</option>
                        <option value="urgente">Urgente</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="statusTarefas">Status</label>
                    <select type="text" id="statusTarefas" name="statusTarefas" required>
                        <option value="A fazer">A fazer</option>
                        <option value="Fazendo">Fazendo </option>
                        <option value="Aguardando Retorno">Aguardando Retorno</option>
                        <option value="Concluida">Concluida</option>
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit" value="Salvar">Salvar</button>
                </div>
            </form>
            <div class="form-group">
                <a th:href="@{'/trabalhoIndi/' + ${idtrab}}">
                <button type="button">Voltar para Trabalho</button>
                </a>
            </div>
        </div>
    </div>
</body>

</html>
