<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <title>Tarefas</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" type="text/css" href="/css/tarefas.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

</head>

<body style="display: flex; flex-direction: column; background: #AFAFAF;">

    <div th:insert="~{MenuEsq.html}"></div>
    <div style="margin-left: 20%;">

        <div class="header_trab">
            <div>
                <h2 class="h2_trabalhos">Tarefas</h2>
            </div>
        </div>

        <div class="container">
            <div class="cadastro-form">
                <div class="form-group">
                    <div class="div_sub_titulo"> Tarefas</div>
                </div>
                <div class="seila">
                    <div class="form-group">
                        <table id="tabela-tarefas">
                            <thead>
                                <tr>
                                    <th  style="width:30%">Título</th>
                                    <th  style="width:30%">Descrição</th>
                                    <th  style="width:30%">Trabalho</th>
                                    <th  style="width:6%">Prioridade</th>
                                    <th  style="width:5%">Status</th>
                                </tr>
                                <!-- <tr>
                                    <th style = "width:300px">Titulo</th>
                                    <th style = "width:300px">Descricao</th>
                                    <th style = "width:300px">Trabalho</th>
                                    <th style = "width:30px">Prioridade</th>
                                    <th style = "width:30px">Status</th>
                                </tr> -->
                            </thead>
                            <tbody>
                                <tr th:each="result : ${tarefas}">
                                    <td>
                                        <a class="a_tarefas" th:attr="href=@{'/tarefasEdit/' + ${result[0].idTarefas}}" th:text="${result[0].titulo}"></a>
                                    </td>
                                    <td th:text="${result[0].descricao}"> </td>
                                    <td th:text="${result[1].titulo}"></td>
                                    <td th:text="${result[0].status}"></td>
                                    <td th:text="${result[0].prioridade}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function() {
        $('#tabela-tarefas').DataTable();
    });
</script>
</html>