<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <title>Teste</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
    <div class="container">
        <div class="cadastro-form">
            <h2>Tarefa X</h2>
            <form th:action="@{'/tarefasEdit/' + ${idtarefas}}" method="post">
                <!-- metodo para enviar/cadastrar requisicao formAction para distinguir os Post nas classe-->
                <div class="form-group">
                    <label for="TarefaNome">Tarefa</label>
                    <input type="text" id="TarefaNome" name="TarefaNome" required th:value="${tarefa.titulo}">
                </div>

                <div class="form-group">
                    <label for="TarefaDescricao">Descricao</label>
                    <input type="text" id="TarefaDescricao" name="TarefaDescricao" required th:value="${tarefa.descricao}">
                </div>

                <div class="form-group">
                    <label for="TarefaPrioridade">Prioridade:</label>
                    <select id="TarefaPrioridade" name="TarefaPrioridade">
                        <option value="baixa" th:selected="${tarefa.prioridade == 'baixa'}">Baixa</option>
                        <option value="media" th:selected="${tarefa.prioridade == 'media'}">Média</option>
                        <option value="alta" th:selected="${tarefa.prioridade == 'alta'}">Alta</option>
                        <option value="urgente" th:selected="${tarefa.prioridade == 'urgente'}">Urgente</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="descricaoAtividade">Atividades</label>
                    <input type="text" id="descricaoAtividade" name="descricaoAtividade" required>
                </div>

                <div class="form-group">
                    <button type="submit" value="Salvar">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
