<!DOCTYPE html>
<html lang="pt-br">

</html>

<head>
    <meta charset='utf-8'>
    <title>Lista de Trabalhos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" type="text/css" href="/css/trabalhoInid.css">

</head>

<body>
    <div th:insert="~{MenuEsq.html}"></div>

    <div style="margin-left: 20%;">

        <div class="header_trab">
            <div>
                <h2 class="h2_trabalhos" th:text="${trabalhoIndi.titulo}"> </h2>
            </div>
            <div class="form-group">
                <a th:href="@{/trabalhoIndi/{idtrab}/Membros(idtrab=${idtrab})}">
                    <button type="button" class="butao">Adicionar Membro</button>
                </a>
            </div>
        </div>

        <div class="container">
            <div class="cadastro-form">

                <div class="form-group">
                    <div class="div_sub_titulo" th:text="${trabalhoIndi.descricao}"></div>
                </div>

                <div class="cards-container">
                    <!-- Loop através de cada status -->
                    <th:block th:each="status : ${statusList}">
                        <!-- Crie um card para cada status -->
                        <div class="card">
                            <div class="card_header" th:text="${status}"></div>

                            <div class="card_container">
                                <div class="card_content">
                                    <!-- Loop através de tarefas com o status correspondente -->
                                    <th:block th:each="tarefa : ${tarefas}">
                                        <th:block th:if="${tarefa.status == status}">
                                            <!-- Crie um cartão para cada tarefa com o status correspondente -->
                                            <div class="form-group">
                                                <a th:href="@{'/tarefasEdit/' + ${tarefa.idTarefas}}"
                                                    th:class="${tarefa.prioridade.toLowerCase() + '-prioridade'}"
                                                    th:text="${tarefa.titulo}">
                                                    <!-- <span th:text="${tarefa.titulo}"></span> -->
                                                </a>
                                            </div>

                                        </th:block>
                                    </th:block>

                                </div>
                            </div>
                            <div class="form-group">
                                <a class="a_addTarefa" th:href="@{/trabalhoIndi/{idtrab}/tarefasCad(idtrab=${idtrab})}">
                                    + Adicionar Tarefa
                                </a>
                            </div>
                        </div>
                    </th:block>
                </div>

                <!-- <div class="form-group">
                        <h2>Tarefas</h2>
                        <table id="tabela-tarefas" class="tg">
                            <thead>
                                <tr>
                                    <th class="tg-0lax">Tarefas</th>
                                    <th class="tg-0lax">Status</th>
                                    <th class="tg-0lax">Prioridade</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="tarefa : ${tarefas}">
                                    <td class="tg-0lax" th:text="${tarefa.titulo}"></td> 
                                    <td class="tg-0lax">
                                        <a th:href="@{'/tarefasEdit/' + ${tarefa.idTarefas}}">
                                            <span th:text="${tarefa.titulo}"></span>
                                        </a>
                                    </td>

                                    <td class="tg-0lax" th:text="${tarefa.status}"></td>
                                    <td class="tg-0lax" th:text="${tarefa.prioridade}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div> -->
                <div class="form-group" style="width: fit-content; align-self: end; border-radius: 10px;">
                    <button type="button" class="remove-button" th:if="${isButtonVisible}"
                        th:attr="data-work-id=${idtrab}"
                        style="padding: 0px 3px; border-radius: 0px 0px 8px 0px;">Remover trabalho</button>
                </div>
            </div>
        </div>
    </div>

    </div>
</body>

<script>
    // Adicione um ouvinte de evento a todos os botões de remoção
    const removeButtons = document.querySelectorAll(".remove-button");
    removeButtons.forEach(button => {
        button.addEventListener("click", function () {
            if (confirm("Tem certeza de que deseja excluir este trabalho?")) {
                const workId = this.getAttribute("data-work-id");

                // Envie uma solicitação para o servidor para remover o trabalho
                fetch(`/trabalhoIndi/${workId}/removeTrabalho`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                })
                    .then(response => {
                        if (response.status === 200) {
                            alert("Trabalho Removido com sucesso.");
                            window.location.href = '/trabalhos';
                        } else {
                            alert("Erro ao remover o Trabalho.");
                        }
                    });
            };
        });
    });

</script>

</html>