/* Estilos para o container do perfil */
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    background-color: #a194f4;
    padding-right: 10px;
    padding-top: 5px;
    /*margin-left: 20%;*/
    padding-bottom: 10px;
}

.quadro-direita,
.quadro-esquerda{
    height: fit-content;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
}

.quadro-esquerda{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    margin-left: 5px;
    grid-column: 1 / 3;
    /*grid-template-columns: repeat(5, 73px);
    grid-template-rows: repeat(14, 20px);*/
    /*flex-flow: column;*/
    flex-direction: column;
    flex-wrap: nowrap;
    /*padding: 10px 0px;*/
}

.circulo {
    /*margin-top: 10px;*/
    background: lightblue;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    justify-self: center;
    border: 1px solid #000000;
    margin-bottom: 5px;
}


.p{
    display: flex;
    margin-block-start: 6px;
    margin-block-end: 6px;
    /* margin-inline-start: 20px; */
    /*margin-inline-end: 211px;*/
}

.h3_trabalhos, .h2_membros , .h2_tarefas{
   /* margin: 5px;*/
    margin-block: 5px;
}

.blocos{
    width: 100%;
   /* border: 1px solid #000000;*/
    background: #e9e8e8;
    border-radius: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
/*Copia Do Trello*/

.list-cards {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 7px;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 5px 4px; */
    min-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1px 4px 0;
    z-index: 1;
    width: -webkit-fill-available;
}

.tabela_table{
    /*border: 1px solid black;*/
    width: 80%;
}

.tabela_td{
    width: 50%;
    color: #000;
    text-align: center;
    padding-top: 5px;
    padding-inline: 5px;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
}

.header_trab{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*flex: 1 1 161%;*/
    /* overflow-y: auto; */
    height: 60px;
    background: linear-gradient(180deg, rgba(24, 22, 59, 0.5) 0%, rgba(22, 21, 37, 0.70) 75%);
}

.h2_trabalhos{
    font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-inline: 0px;
margin-block: 0px;
margin-left: 20px;
}

.legenda_tarefas{
    width: 380px;
    height: 40px;
flex-shrink: 0;
border-radius: 20px;
background: #D9D9D9;
}

.legenda_status{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    gap: 10px;
    margin-inline: 10px;
    justify-content: center;
    margin: 5px 0;
}

.legenda_status_div{
    display: flex;
    flex-direction: row;
    color: #000;
font-family: Arial;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 10px;
gap: 6px;
align-items: center;
}


.legenda_h4{
    display: flex;
    align-content: center;
    margin-block: 0px;
    /* align-self: flex-start; */
    /* align-self: center; */
    align-items: center;
    flex-wrap: nowrap;
    width: 360px;
    flex-direction: column;
    justify-content: flex-start;
}



.azul, .amarelo, .verde, .vermelho{
    width: 10px;
    height: 10px;
    flex-shrink: 0; 
    border-radius: 60px;
}

.azul{
    background: #001AFF;
}

.verde{
    background: green;
}

.amarelo{
    background: yellow;
}

.vermelho{
    background: red;
}


.butao{
    width: 130px;
height: 40px;
flex-shrink: 0;
border: 0.5px;
border-radius: 10px;
background: #D9D9D9;
/*texto*/
color: #000;
font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/* ///////////////////////////////////////////////// */

.container {
	display: flex;
	flex-wrap: wrap; 
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #a194f4;
    padding: 5px 10px 10px 10px;
}

.form-group {
	display: flex;
    align-items: stretch;
    justify-content: flex-end;
    flex-direction: column;
}

.form-group button {
	background-color: D9D9D9;
	color: #000;
	border: none;
	/* padding: 10px 20px; */
	border-radius: 3px;
	cursor: pointer;
} 

.form-group a{
    color: #000;
font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 10px;
}

/*teste*/
.card{
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 1s;
    width: -webkit-fill-available;
    border-radius: 5px;
    margin: 10px;
    display: -webkit-inline-box;
    display: flex;
    /* padding-bottom: 10px; */
    flex-direction: column;
    height: fit-content;
    border: 1px solid;
  }

  .cards-container{
    /* padding: 2px 16px;
    text-align: left;
    width: -webkit-fill-available; */
    /* padding: 2px 16px;
    text-align: left;
    width: -webkit-fill-available; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 0px; */
    /* background-color: #a194f4; */
    padding-right: 10px;
    /* padding-top: 5px; */
    /* margin-left: 20%; */
    padding-bottom: 10px;
  }


  .card_container{
    display: flex;
    padding-bottom: 10px;
    flex-direction: column;
  }

  .card_header{
    text-align: center;
    padding-top: 5px;
    padding-inline: 5px;
    font-size: larger;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    width: -webkit-fill-available;
  }

  .card_content {
    text-align: left;
    margin: 6px;
    font-size: 14px;
}

span{
    color: #000;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none; 
}

.baixa-prioridade {
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: 1px solid;
}

.media-prioridade {
    background-color: #8fbc8f;
    color: white;
}

.alta-prioridade {
    background-color: rgba(244, 244, 38, 0.585);
    color: black;
}

.urgente-prioridade {
    background-color: rgba(248, 60, 60, 0.437);
    color: white;
}

a.alta-prioridade, .urgente-prioridade, .media-prioridade, .baixa-prioridade{
    border-radius: 6px;
    border: 1px solid;
    font-size: small;
    width: -webkit-fill-available;
    display: flow;
    padding: 2px 4px;
    margin-bottom: 4px;
}

.a_addTarefa{
    color: #000;
    text-align: center;
    padding-top: 5px;
    padding-inline: 5px;
    font-size: larger;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    width: -webkit-fill-available;
    cursor: pointer;
}