/* Estilos para o container do perfil */
.container_form {
    /* background-color: #a194f4; */
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.new_job_form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* align-content: space-around; */
    justify-content: center;
    align-items: stretch;
    height: fit-content;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 0px 15px 0px 10px;
}

.div_novo_trabalho {
    padding: 20px 30px;
    border-block-end: 1px solid;
    margin-block-end: 10px;
    /*texto*/
    color: #000;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.header_trab {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*flex: 1 1 161%;*/
    /* overflow-y: auto; */
    height: 60px;
    background: linear-gradient(180deg, rgba(24, 22, 59, 0.5) 0%, rgba(22, 21, 37, 0.70) 75%);
}

.h2_trabalhos {
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-inline: 0px;
    margin-block: 0px;
    margin-left: 20px;
}

.butao {
    width: 130px;
    height: 40px;
    flex-shrink: 0;
    border: 0.5px;
    border-radius: 20px;
    background: #D9D9D9;
    /*texto*/
    color: #FFF;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: baseline;
    background: #568392;
}

.formulario {
    display: grid;
    align-items: center;
    gap: 30px;
    justify-content: space-around;
    justify-items: end;
}

.input_field {
    width: 500px;
    height: 30px;
}