
.container {
	display: flex;
	flex-wrap: wrap; 
	overflow: hidden;
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #a194f4; */
    padding: 5px 10px 10px 10px;
}

.login-form, .cadastro-form {
	flex: 1;
}

/* Estilos específicos para telas menores (mude os valores de acordo com suas necessidades) */
@media screen and (max-width: 768px) {
    .container {
        width: 100%; /* Ocupa 100% da largura da tela em telas menores */
    }

    .login-form,
    .cadastro-form {
        padding: 10px; /* Reduz o espaço de preenchimento nas colunas em telas menores */
    }

    .form-group input,
    .form-group button {
        width: 100%; /* Faz os campos de entrada e botões ocuparem 100% da largura */
    }
}


castro-form {
	background-color: #ffffff;
}


.form-group {
	display: flex;
    align-items: stretch;
    justify-content: flex-end;
    flex-direction: column;
}

/* .form-group label {
	/display: block;
	margin-bottom: 5px;
} */

.form-group input {
	width: -webkit-fill-available;
    height: 30px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

/* Altere a cor e o estilo da borda ao focar em um elemento de entrada */
.form-group input[type="text"]:focus {
    border: 1px solid #2479d5; /* Cor da borda ao focar */
    border-radius: 3px; /* Raio da borda */
    outline: none; /* Remove a borda padrão de foco */
    box-shadow: 0 0 5px 0 rgba(0, 123, 255, 0.7); /* Adicione um sombreamento personalizado ao focar */
}


.form-group button {
	background-color: rgba(0,0,0,0.2);
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	border-radius: 3px;
	cursor: pointer;
} 

/* ///////////////////////// */
/* copia trabalhos */

.cadastro-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    height: fit-content;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 0px 15px 0px 10px;
}

.div_novo_trabalho {
    padding: 20px 30px;
    border-block-end: 1px solid;
    margin-block-end: 10px;
    color: #000;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.header_trab {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: linear-gradient(180deg, rgba(24, 22, 59, 0.5) 0%, rgba(22, 21, 37, 0.70) 75%);
}

.h2_trabalhos {
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-inline: 0px;
    margin-block: 0px;
    margin-left: 20px;
}


.formulario {
    display: flex;
    align-items: stretch;
    gap: 30px;
    justify-content: space-around;
    justify-items: end;
    flex-direction: column;
    flex-wrap: nowrap;
}

.input_field {
    width: 500px;
    height: 30px;
}

.div_sub_titulo {
    padding: 20px 30px;
    border-block-end: 1px solid;
    /*texto*/
    color: #000;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

 .div_ratio, .div_sub_ratio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
 }

 .div_ratio{
    border: 1px solid;
    margin-inline: 60px;
 }

 .form-group input[type="radio" i]{
    width:auto;
    margin: 0px;
    align-self: center;
 }
 
 
.ul_atividades {
    display: flex;
    /* width: 80%;
    height: 100%; */
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-shrink: 0;
    list-style: none;
    /* Remove os marcadores de lista */
    /* gap: 10px; */
    padding: unset;
    margin-left: 10px;
    border-inline: 1px solid;
    border-block-start: 1px solid;
} 

.li_atividades{
    padding-block: 5px;
    width: -webkit-fill-available;
    border-block: 1px solid;
    padding: 5px 5px;
}

.sub_container{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 5px 10px 10px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}





.td_atividades{
    border-block: 1px solid;
    /* padding-block: 5px;
    width: -webkit-fill-available;
    border-block: 1px solid;
    padding: 5px 5px; */
}

table, th, td {
    border-block: 1px solid black;
    border-collapse: collapse;
    width: -webkit-fill-available;
    padding: 5px;
  }
  tr:nth-child(even) {
    background-color: #D6EEEE;
  }

  table{
    border-inline: 1px solid;
  }

.table_membro, .th_membro, .td_membro {
    border: 1px solid black;
    border-collapse: collapse;
    width: -webkit-fill-available;
    padding: 5px;
  }


  /*teste*/
  .card{
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 1s;
    width: -webkit-fill-available;
    border-radius: 5px;
    margin: 10px;
    display: -webkit-inline-box;
    display: flex;
    /* padding-bottom: 10px; */
    flex-direction: column;
    height: fit-content;
    border: 1px solid;
  }

  .cards-container{
    /* padding: 2px 16px;
    text-align: left;
    width: -webkit-fill-available; */
    /* padding: 2px 16px;
    text-align: left;
    width: -webkit-fill-available; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 0px; */
    /* background-color: #a194f4; */
    padding-right: 10px;
    /* padding-top: 5px; */
    /* margin-left: 20%; */
    padding-bottom: 10px;
  }


  .card_container{
    display: flex;
    padding-bottom: 10px;
    flex-direction: column;
  }

  .card_header{
    text-align: center;
    padding-top: 5px;
  }

  .card_content {
    text-align: left;
    margin: 6px;
    font-size: 14px;
}

span{
    color: #000;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none; 
}

.baixa-prioridade {
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: 1px solid;
}

.media-prioridade {
    background-color: #8fbc8f;
    color: white;
}

.alta-prioridade {
    background-color: rgba(244, 244, 38, 0.585);
    color: black;
}

.urgente-prioridade {
    background-color: rgba(248, 60, 60, 0.437);
    color: white;
}

a.alta-prioridade, .urgente-prioridade, .media-prioridade, .baixa-prioridade{
    border-radius: 6px;
    border: 1px solid;
    font-size: small;
    width: -webkit-fill-available;
    display: flow;
    padding: 2px 4px;
    margin-bottom: 4px;
}

.a_addTarefa{
    background-color: #4ea0f8;
    color: #ffffff;
    border: none;
    padding: 4px 0px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 10px;
    align-self: stretch;
}